*{
font-family: 'Aref Ruqaa Ink','Oswald' , sans-serif , Verdana;
margin: 0px;
border: 0px;
}

@media screen and (max-width:600px){

    div.divlogo.sombra.text-center.color{
        height: 100px;
    }
    img.logo{
        height: 100px;
        margin: 0px;
    }
    
}


.fondo{
    background-image: linear-gradient(to top, white,white,#799dbf,#799DBF,#567088,#51677D);
}

.logo{
    width: 150px;
    
}

.sombra{
    box-shadow: 1px 1px 5px 10px lightblue; ;
}


.divlogo{
    margin-top: 20px;
}

.color{
    background-color:#F4F2F0;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
    
    
}

.menu li{
    list-style: none;
    padding: 20px;
    
}

.menu li a{
    color: rgb(211, 207, 207);
    text-decoration: none;
    text-transform: uppercase

}

.menu li:hover{
    color: white;
    background-color: black;
    border-radius: 50%;
}

.menu li a:hover{
    color: white;
}

.carousel-inner img {
    width: auto;
    max-height: 500px;
}



.titulodeimg{
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    color: antiquewhite;
    padding: 30px;
    text-transform: uppercase;
}

.classh5{
    transform: translateY(-150px);
}

.titulodeimg:hover{
    text-decoration: underline antiquewhite;
    color: white;
    background-color: black;
    opacity: 0.7;
}


.article-historia{
    color: whitesmoke;
    background-color: black;
    border-radius: 20px;
    padding: 15px;
}


.alinear{
    margin-top: 100px;
}

.imgzoom:hover{
    transform: scale(1.1);
} 

.espaciado{
    padding: 50px 300px;
}  

.grid-sabiasque{
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

.caja{
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.espacio-caja{
    margin-top: 10px;
    margin-bottom: 60px;
}

.background_footer{
    
    background-color: #171717;
    background-repeat: repeat-x;
    background-position-x: center;
    background-image: url("../images/footer/background.png");
    margin-top: 50px;
    padding-top: 100px; 
}

.texto_blanco{
    color: white;
}

.flex_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.h2_footer{
    text-align: left;
    color: white;
}
    
.img_footer{
    width: 60px;
    height: 60px;
}

.flex_footer2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    
    
}

.p_footer{
    
    color: rgb(114, 110, 110);
}


CULTURA.HTML 

video{
    height: 100%;
    width: 100%;
}

.flex_padre{
    position: relative;
    display: flex;
    flex-direction: row;
}

.flex_hijos{
    position: absolute;
    padding: 30px;
    text-align: center;
}

.img_musica{
    width:100%;
    height: 600px;
}


.musica_titulo{
    margin: 30px 500px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
}

.div_posicion{
    padding: 40px 50px;
}

.posicionar{
    padding: 0px 150px ;
    margin-top: 30px;
    margin-bottom: 90px;
}

article h4{
    text-align: center;
    color: rgb(6, 70, 66);
    margin: 20px 0px;
} 

.musica_color{
    color: rgb(211, 233, 231);
    background-color: black;
}

.musica_texto{
    padding: 15px;
}

.flex_cultura{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-bottom: 50px;
}

.img_comida{
    width: 300px;
    height: 200px;
}


.texto_cultura{
    
    padding: 30px 
}

.subtitulo_comida{
    padding-bottom: 20px;
    text-decoration: underline grey;
}

.flex_deportes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
}

.img_deportes{
    padding-top: 50px;
    height: 300px ;
    width: 300px ;
}

.p_deportes{
    width: 300px;
    padding-top: 10px;
}


Ciudades.html 

.imagenescity{
    width: 400px;
    height: 300px;
}

iframe{
    height: 200px;
    width: 300px ;
}

.flex-city{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


CELEBRES.HTML 


.img_celebres{
    width: 100%;
    height: 60%;
    
}

CONTACTO.HTML 


.cuadro-form{
    margin: 30px 100px 50px 100px;
    padding-left: 50px;
    height: 350px;
    padding-top: 20px;
}

.espacios_contacto{
    margin-bottom: 30px;
}

.flex_contacto{
    display: flex;
    align-items: flex-start;
}

.espacio_p{
    padding-right: 10px;
    
}